/.vs
/Calculator/Debug
/Console_BouncingBall/Console_BouncingBall_Step1/Debug
/Console_BouncingBall/Console_BouncingBall_Step2/Debug
/Console_BouncingBall/Console_BouncingBall_Step3/Debug
/Console_BouncingBall/Console_BouncingBall_Step4/Debug
/ConsoleApplication/Debug
/ConsoleTetrisCpp/ConsoleTetris_step1/Debug
/ConsoleTetrisCpp/ConsoleTetris_step2/Debug
/ConsoleTetrisCpp/ConsoleTetris_step3/Debug
/ConsoleTetrisCpp/ConsoleTetris_step4/Debug
/ConsoleTetrisCpp/Win32Tetris_step1/Debug
/ConsoleTetrisCpp/Win32Tetris_step2/Debug
/ConsoleTetrisCpp/Win32Tetris_step3/Debug
/ConsoleTetrisCpp/Win32Tetris_step4/Debug
/ConsoleTetrisCpp/Win32Tetris_step5/Debug
/Debug
/Fsm/Fsm/Debug
/Win32_BouncingBall/BouncingBall_Step01_MenuItem/Debug
/Win32_BouncingBall/BouncingBall_Step02_GameLoop/Debug
/Win32_BouncingBall/BouncingBall_Step03_Vectors/Debug
/Win32_BouncingBall/BouncingBall_Step04_Bouncing/Debug
/Win32_BouncingBall/BouncingBall_Step05_Forces/Debug
/Win32_BouncingBall/BouncingBall_Steps/Debug
/Win32DrawFunction/Debug
/Console_BouncingBall/Release
/Win32_BouncingBall/Release
